.five {
    margin-top: 60px;
}

.button5 {
    margin-top: 10px;
}

.forecast1 {
 margin-top: 10px;
    background-color: lightblue;
}

.forecast2 {
 margin-top: 10px;
      background-color: lightblue;
}

.flex {
margin-left: 30px;
}